<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Botero Beauty</title>
    <link href="~/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link href="~/css/layout-custom.css" rel="stylesheet" />

</head>
<body>

    <div id="main-wrapper">
        <aside class="left-sidebar">
            <div class="scroll-sidebar">
                <div class="sidebar-logo">
                    <img src="https://www.boterobeauty.com/cdn/shop/files/logo2.png?v=1718741803&width=150" alt="Botero Beauty Logo">
                    <span>Botero Beauty</span>
                </div>
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">MENÚ PRINCIPAL</li>
                        <li class="sidebar-item selected">
                            <a class="sidebar-link" href="#">
                                <i class="fas fa-home"></i>
                                <span class="hide-menu">Inicio</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="#">
                                <i class="fas fa-box"></i>
                                <span class="hide-menu">Catálogo</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="#">
                                <i class="fas fa-magic"></i>
                                <span class="hide-menu">Maquillaje</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="#">
                                <i class="fas fa-spa"></i>
                                <span class="hide-menu">Cuidado de la piel</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="#">
                                <i class="fas fa-seedling"></i>
                                <span class="hide-menu">Rutinas</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="#">
                                <i class="fas fa-tags"></i>
                                <span class="hide-menu">Promociones</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="#">
                                <i class="fas fa-star"></i>
                                <span class="hide-menu">Reseñas</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="#">
                                <i class="fas fa-user"></i>
                                <span class="hide-menu">Perfil</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link text-danger" href="#">
                                <i class="fas fa-sign-out-alt"></i>
                                <span class="hide-menu">Cerrar sesión</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <div class="page-wrapper" style="margin-left: 250px;">
            <div class="container-fluid">
                <div class="row">
                    @RenderBody()
                </div>
            </div>

            <footer class="footer text-center">
                Todos los derechos reservados por Botero Beauty.
            </footer>
        </div>
    </div>

    <script src="~/lib/jquery.min.js"></script>
    <script src="~/lib/popper.min.js"></script>
    <script src="~/lib/bootstrap.min.js"></script>
    <script src="~/lib/app.min.js"></script>
    <script src="~/lib/app.init.js"></script>
    <script src="~/lib/app-style-switcher.js"></script>
    <script src="~/lib/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/lib/sparkline.js"></script>
    <script src="~/lib/waves.js"></script>
    <script src="~/lib/sidebarmenu.js"></script>
    <script src="~/lib/custom.min.js"></script>
</body>
</html>
