<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Botero Beauty</title>
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="main-wrapper">

        @RenderBody()

         <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div> 
        
    </div>

    <script src="~/lib/jquery.min.js"> </script>
    <script src="~/lib/popper.min.js"></script>
    <script src="~/lib/bootstrap.min.js"></script>
    <script>
        $('[data-toggle="tooltip"]').tooltip();
        $(".preloader").fadeOut();
        $('#to-recover').on("click", function() {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>

</html>