@model Autenticacion
@{
    Layout = "_LayoutExterno";
}

    <div class="auth-wrapper">
        <div class="auth-box">
            <div id="loginform">
                <div class="logo text-center mb-4">
                    <span class="db">
                        <img src="https://www.boterobeauty.com/cdn/shop/files/logo2.png?v=1718741803&width=160" alt="logo" />
                    </span>
                    <h5 class="font-medium mt-3">Iniciar Sesión</h5>
                </div>

                <!-- Formulario único de inicio de sesión -->
                <form id="loginform" asp-controller="Autenticacion" asp-action="Index" method="post">
                    <input id="txtMensaje" type="hidden" value="@ViewBag.Mensaje" />

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input asp-for="CorreoElectronico" class="form-control form-control-lg" placeholder="Correo electrónico" />
                    </div>

                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        </div>
                        <input asp-for="Contrasenna" type="password" class="form-control form-control-lg" placeholder="Contraseña" />
                    </div>

                    <div class="form-group text-center">
                        <button class="btn btn-login btn-block" type="submit">Iniciar Sesión</button>
                    </div>

                    <div class="form-group text-center mt-3">
                        <p>¿No tienes una cuenta? <a href="@Url.Action("Registro", "Autenticacion")"><b>Regístrate</b></a></p>
                        <p>¿Olvidaste tu contraseña? <a href="@Url.Action("RecoverAccess", "Autenticacion")"><b>Recuperar acceso</b></a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>